.coc-form-overlay small {
    font-weight: 400;
}
.cocBtn {
    text-transform: uppercase;
    background: #a0ce4e;
    color: #fff;
    padding: 15px 30px;
    border: 0;
    text-decoration: none;
    display: block;
    width: auto;
    text-align: center;
    margin: 0 auto;
}
.cocBtn:hover {
    text-decoration: none;
    color: #fff;
}
.coc-form-overlay {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(36, 36, 36, 0.72);
    padding: 25px;
    z-index: 99999;
    position: fixed;
    overflow-y: scroll;
}
.coc-form-overlay .coc-form {
    background: #fff;
    max-width: 680px;
    width: auto;
    min-width: 370px;
    margin: auto;
    margin-top: 110px;
    padding: 25px;
    position: relative;
}
.coc-form-overlay .coc-form .label {
    color: #666;
    padding: 0;
    font-size: 16px;
}
.coc-form-overlay .coc-form a {
    display: block;
    text-align: center;
}
.coc-form-overlay .coc-form input,
.coc-form-overlay .coc-form textarea,
.coc-form-overlay .coc-form #coc-country {
    border: 1px solid #888;
    font-size: 16px;
    color: #555;
}
.coc-form-overlay .coc-form input,
.coc-form-overlay .coc-form textarea {
    padding: 15px 10px;
}
.coc-form-overlay .coc-form input,
.coc-form-overlay .coc-form textarea,
.coc-form-overlay .coc-form a {
    width: 100%;
}
.coc-form-overlay .coc-form .inline-link {
    display: inline-block;
    width: auto;
}
.coc-form-overlay .coc-form input[type="checkbox"],
.coc-form-overlay .coc-form input[type="radio"] {
    width: auto;
}
.coc-form-overlay .coc-form textarea {
    height: 150px;
}
.coc-form-close {
    top: 0;
    right: 0;
    position: absolute;
    font-size: 35px;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    background: #a0ce4e;
}
#add-avatar-icon {
    font-size: 32px;
    color: #e2e2e2;
}
.image-selection-wrapper {
    height: auto;
}
#coc-add-avatar {
    overflow: hidden;
    width: 100%;
    height: 99%;
}
.coc-avatar {
    cursor: pointer;
    width: 100px;
}
#coc-country {
    width: 100%;
}
.large-icon {
    font-size: 32px !important;
}
.hint {
    font-size: 12px;
    color: #888;
}
.label {
    font-size: 18px;
}
.form-group:not(#coc-add-avatar){
    margin-top: 10px;
}
#coc-anon {
    width: 15px;
    cursor: pointer;
    margin-left: 5px;
}
#avatar-wrapper {
    display: none;
}
#avatar-wrapper .fusion-tabs {
    margin-bottom: 0;
}
#avatar-wrapper .tab-content {
    padding: 30px 0;
    height: 300px;
}
#avatar-wrapper #selection-tabs .tab-pane {
    display: none;
}
#avatar-wrapper #selection-tabs .tab-pane.active.in {
    display: block;
}
#joinNowBtn {
    font-size: 18px;
}
#joinNowBtn:hover {
    color: #fff;
    cursor: pointer;
}
.select2-container {
    z-index: 99999;
    width: 100% !important;
    font-size: 18px;
}
.input-error {
    border: 1px solid red !important;
}
.switch-action {
    cursor: pointer;
    font-size: 32px !important;
}
.selection-wrapper {
    margin-top: 0;
    position: relative;
    height: 300px;
}

.selection-hair,
.selection-eyebrow,
.selection-eyes,
.selection-nose,
.selection-mouth,
.selection-facialHair,
.selection-clothing,
.control-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.control-wrapper .go-left-wrapper,
.control-wrapper .go-right-wrapper {
    width: 50%;
}
.control-wrapper .go-right-wrapper {
    text-align: right;
    float: right;
}
.control-wrapper .go-left-wrapper {
    text-align: left;
    float: left;
}
#avatarPreview {
    height: 100px;
    width: 100px;
}
.disabled,
.disabled i {
    color: #e2e2e2;
    cursor: not-allowed;
}
#avatar-preview {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#avatar-preview div {
    align-self: stretch;
    width: 33%;
    cursor: pointer;
    justify-content: space-between;
}
.upload-own-wrapper, .add-avatar-wrapper {
    text-align: center;
    border: 1px solid #e2e2e2;
    cursor: pointer;
}
#upload-icon, #add-avatar-icon {
    cursor: pointer;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
#user-message {
    display: none;
}
#user-message {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.9);
}
.user-message-text {
    width: 75vw;
    max-width: 500px;
    min-width: 240px;
    background: #fff;
    color: #555;
    position: relative;
    z-index: 20;
    top: 22%;
    margin: 10px auto;
    padding: 60px;
    /*transform: translateY(-50%);*/
}
#user-message .message-image-wrapper {
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    width: 200px;
    height: 200px;
    background: #f5f5f5;
}
@media (max-height: 900px) {
    #user-message .message-image-wrapper {
        width: 100px;
        height: 100px;
    }
    .coc-form-overlay .coc-form {
        margin-top: 30px;
    }
}

@media (max-height: 600px) {
    #user-message .user-message-text {
        top: 10%;
    }
    #user-message .close-wrapper {
        top: 10%;
    }
    #user-message div.message-text {
        max-height: 200px;
    }
    .coc-form-overlay .coc-form {
        margin-top: 0;
    }
}

#user-message .message-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.4em;
    word-break: break-word;
    overflow-y: auto;
    max-height: 300px;

}

#user-message .message-country.loaded {
    display: block;
    padding-top: 15px;
    text-align: center;
}

#user-message .message-country.loaded img {
    height: 35px;
}
.message-controls .left-arrow-wrapper,
.message-controls .right-arrow-wrapper{
    cursor: pointer;
    position: absolute;
    z-index: 29;
    width: 26px;
    top: 50%;
    transform: translateY(-50%);
}
.message-controls .right-arrow-wrapper {
    right: 10px;
}
.message-controls .left-arrow-wrapper {
    left: 10px;
}
.close-wrapper {
    position: absolute;
    top: 150px;
    right: 10px;
}
#user-message .fa-times,
#prevMessage, #nextMessage {
    font-size: 26px;
    color: #fff;
    cursor: pointer;
}
.load-more-btn {
    text-align: center;
    margin-top: 45px;
}
.load-more-btn .btn-primary {
    font-size: 24px;
    padding: 5px 120px;
    border: 1px solid #a0ce4e;
    color: #a0ce4e;
    border-radius: 5px;
}
.load-more-btn .btn-primary:hover {
    background: #a0ce4e;
    color: #fff;
}
.clock-z-wrapper {
    z-index: 3;
}
.user-container-wrapper {
    z-index: 9999;
}
.user-signup-wrapper {
    z-index: 999999;
}
.user-signup-btn-wrapper {
    z-index: 1;
}
.preview-wrapper #coc-image {
    width: 100% !important;
    height: 100% !important;
}
#user-list:after {
    content: "";
    display: block;
    clear: both;
}
.message-name {
    color: #a0ce4e;
    text-align: center;
    font-size: 20px;
}
.post-content p.message-name {
    margin-top: 20px;
    margin-bottom: 5px;
}
.ui-pnotify.stack-bottomright.ui-pnotify-fade-normal.ui-pnotify-mobile-able.ui-pnotify-in.ui-pnotify-fade-in.ui-pnotify-move {
    border: 2px solid #a0ce4e;
    background: #fff !important;
}

#user-filter {
    margin-bottom: 30px;
}
#user-filter .user-filter-element {
    display: inline-block;
    margin-left: 30px;
}
#user-filter .user-filter-element img {
    vertical-align: middle;
}

/* GRID */
#user-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#user-list .user-item {
    flex: auto;
    align-self: stretch;
    width: 11%;
    cursor: pointer;
    overflow: hidden;
}
#user-list .user-item img {
    margin: 0 !important;
}
#user-list .user-item img.loaded {
    animation: zoominimage 1s ease-in;
}

#user-list .user-item img {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
#user-list .user-item:hover img {
    opacity: .6;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

@keyframes zoominimage {
    0% {
        transform: scale(1.2,1.2);
        opacity: 0;
    }
    65% {
        transform: scale(1,1);
        opacity: 0.3;
    }
    100% {
        transform: scale(1,1);
        opacity: 1;
    }
}

@media only screen and (min-width: 1000px) {
    .cocBtn {
        width: 30%;
    }
}
@media only screen and (max-width: 980px) {
    #user-list .user-item {
        width: 16%;
    }
}
@media only screen and (max-width: 768px) {
    #user-list .user-item {
        width: 33.3%;
    }
}
@media only screen and (max-width: 480px) {
    .load-more-btn {
        text-align: center;
        margin-top: 45px;
        height: auto;
    }
    .load-more-btn .btn-primary {
        padding: 10px 35px;
    }
    .cocBtn {
        width: 100%;
    }
}

#country-rankings {
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
    padding: 30px 0;
}

.country-ranking-item {
    width: 25%;
    padding: 15px;
    text-align: center;
}
@media (max-width: 1024px) {
    .country-ranking-item {
        width: 33%;
    }
}
@media (max-width: 650px) {
    .country-ranking-item {
        width: 50%;
    }
}
@media (max-width: 450px) {
    .country-ranking-item {
        width: 100%;
    }
}

.country-ranking-item.hidden {
    display: none;
}

.country-ranking-item img.country-flag {
    height: 45px;
    margin-bottom: 15px;
}

.country-counter {

}

.country-counter .digit {
    display: inline-block;
    padding: 4px;
    background-color: #ffffff;
    border-right: 2px solid #ebebeb;
    font-size: 13px;
    font-weight: bold;
}
.country-counter .digit.inactive {
    color: #cfcfcf;
}

#country-rankings-load-more {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#country-rankings-load-more .load-more-link {
    font-size: 16px;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    #user-message .message-image-wrapper {
        width: 100px;
        height: 100px;
    }
    .user-message-text {
        top: 15%;
        padding: 30px;
    }
    #user-message .message-text {
        max-height: 200px;
    }
    .close-wrapper {
        top: 15%;
    }
    #toTop {
        bottom: 25px !important;
        right: 25px !important;
        z-index: 99998;
    }
    #user-filter .user-filter-element {
        margin-left: 0;
    }
    .coc-form-overlay {
        padding: 15px;
    }
    .coc-form-overlay .coc-form {
        padding: 15px;
    }
}

@media (max-width: 400px) {
    .coc-form-overlay .coc-form {
        min-width: 240px;
        max-width: 320px;
    }
}

#country-rankings-load-more .load-more-link {
    font-size: 13px;
    text-transform: uppercase;
}

.hc-coc.coc-small #worldAnimationContainer {
    width: 150px;
    height: 150px;
}
.hc-coc.coc-small #worldAnimationContainer .figurchen {
    height: 35px;
    width: 35px;
}

.hc-coc.coc-small #clock .digits .number {
    padding: 4px;
    margin: 0;
}

.hc-coc.coc-small #clock .digits div {
    width: 20px;
    height: 30px;
}
.hc-coc.coc-small #clock .digits div div
{
    width: 12px;
    height: 26px;
}


.hc-coc.coc-medium #worldAnimationContainer {
    width: 300px;
    height: 300px;
}
.hc-coc.coc-medium #worldAnimationContainer .figurchen {
    height: 70px;
    width: 70px;
}

.hc-coc.coc-medium #clock .digits .number {
    padding: 8px;
    margin: 0;
}

.hc-coc.coc-medium #clock .digits div {
    width: 40px;
    height: 60px;
}
.hc-coc.coc-medium #clock .digits div div
{
    width: 24px;
    height: 52px;
}

/* Medium */
.hc-coc.coc-medium #clock .digits .d1{			height:4px;width:16px;top:0;left:4px;}
.hc-coc.coc-medium #clock .digits .d1:before{	border-width:0 4px 4px 0;border-right-color:inherit;left:-4px;}
.hc-coc.coc-medium #clock .digits .d1:after{	border-width:0 0 4px 4px;border-left-color:inherit;right:-4px;}

.hc-coc.coc-medium #clock .digits .d2{			height:4px;width:16px;top:20px;left:4px;}
.hc-coc.coc-medium #clock .digits .d2:before{	border-width:2px 2px 2px;border-right-color:inherit;left: -4px;}
.hc-coc.coc-medium #clock .digits .d2:after{	border-width:2px 2px 2px;border-left-color:inherit;right:-4px;}

.hc-coc.coc-medium #clock .digits .d3{			height:4px;width:16px;top:40px;left:4px;}
.hc-coc.coc-medium #clock .digits .d3:before{	border-width:4px 4px 0 0;border-right-color:inherit;left:-4px;}
.hc-coc.coc-medium #clock .digits .d3:after{	border-width:4px 0 0 4px;border-left-color:inherit;right:-4px;}

.hc-coc.coc-medium #clock .digits .d4{			width:4px;height:12px;top:6px;left:0;}
.hc-coc.coc-medium #clock .digits .d4:before{	border-width:0 4px 4px 0;border-bottom-color:inherit;top:-4px;}
.hc-coc.coc-medium #clock .digits .d4:after{	border-width:0 0 4px 4px;border-left-color:inherit;bottom:-4px;}

.hc-coc.coc-medium #clock .digits .d5{			width:4px;height:12px;top:6px;right:0;}
.hc-coc.coc-medium #clock .digits .d5:before{	border-width:0 0 4px 4px;border-bottom-color:inherit;top:-4px;}
.hc-coc.coc-medium #clock .digits .d5:after{	border-width:4px 0 0 4px;border-top-color:inherit;bottom:-4px;}

.hc-coc.coc-medium #clock .digits .d6{			width:4px;height:12px;top:26px;left:0;}
.hc-coc.coc-medium #clock .digits .d6:before{	border-width:0 4px 4px 0;border-bottom-color:inherit;top:-4px;}
.hc-coc.coc-medium #clock .digits .d6:after{	border-width:0 0 4px 4px;border-left-color:inherit;bottom:-4px;}

.hc-coc.coc-medium #clock .digits .d7{			width:4px;height:12px;top:26px;right:0;}
.hc-coc.coc-medium #clock .digits .d7:before{	border-width:0 0 4px 4px;border-bottom-color:inherit;top:-4px;}
.hc-coc.coc-medium #clock .digits .d7:after{	border-width:4px 0 0 4px;border-top-color:inherit;bottom:-4px;}

/* Small */
.hc-coc.coc-small #clock .digits .d1{			height:2px;width:8px;top:0;left:2px;}
.hc-coc.coc-small #clock .digits .d1:before{	border-width:0 2px 2px 0;border-right-color:inherit;left:-2px;}
.hc-coc.coc-small #clock .digits .d1:after{	border-width:0 0 2px 2px;border-left-color:inherit;right:-2px;}

.hc-coc.coc-small #clock .digits .d2{			height:2px;width:8px;top:10px;left:2px;}
.hc-coc.coc-small #clock .digits .d2:before{	border-width:1px 1px 1px;border-right-color:inherit;left: -2px;}
.hc-coc.coc-small #clock .digits .d2:after{	border-width:1px 1px 1px;border-left-color:inherit;right:-2px;}

.hc-coc.coc-small #clock .digits .d3{			height:2px;width:8px;top:20px;left:2px;}
.hc-coc.coc-small #clock .digits .d3:before{	border-width:2px 2px 0 0;border-right-color:inherit;left:-2px;}
.hc-coc.coc-small #clock .digits .d3:after{	border-width:2px 0 0 2px;border-left-color:inherit;right:-2px;}

.hc-coc.coc-small #clock .digits .d4{			width:2px;height:6px;top:3px;left:0;}
.hc-coc.coc-small #clock .digits .d4:before{	border-width:0 2px 2px 0;border-bottom-color:inherit;top:-2px;}
.hc-coc.coc-small #clock .digits .d4:after{	border-width:0 0 2px 2px;border-left-color:inherit;bottom:-2px;}

.hc-coc.coc-small #clock .digits .d5{			width:2px;height:6px;top:3px;right:0;}
.hc-coc.coc-small #clock .digits .d5:before{	border-width:0 0 2px 2px;border-bottom-color:inherit;top:-2px;}
.hc-coc.coc-small #clock .digits .d5:after{	border-width:2px 0 0 2px;border-top-color:inherit;bottom:-2px;}

.hc-coc.coc-small #clock .digits .d6{			width:2px;height:6px;top:13px;left:0;}
.hc-coc.coc-small #clock .digits .d6:before{	border-width:0 2px 2px 0;border-bottom-color:inherit;top:-2px;}
.hc-coc.coc-small #clock .digits .d6:after{	border-width:0 0 2px 2px;border-left-color:inherit;bottom:-2px;}

.hc-coc.coc-small #clock .digits .d7{			width:2px;height:6px;top:13px;right:0;}
.hc-coc.coc-small #clock .digits .d7:before{	border-width:0 0 2px 2px;border-bottom-color:inherit;top:-2px;}
.hc-coc.coc-small #clock .digits .d7:after{	border-width:2px 0 0 2px;border-top-color:inherit;bottom:-2px;}
